.container {
    display:flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.container > li {
    list-style: none;
}

.link {
    text-decoration: none;
    color: rgb(234, 230, 230);
    font-weight: 600;
    font-size: 1.5rem;

}

.logo{
    height: 55px;
    width: 55px;
    
}

.link:hover {
    color: rgb(139, 138, 142);
    transition: all 300ms;
}


